* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* page colors */
:root {
  --main: black;
  --secondary: orange;
  --third: white;
}

/* body */
body {
margin: 0;
padding: 0;
font-family: sans-serif;
color: var(--main);
background-color: var(--third);
line-height: normal;  
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  background-color: var(--main);
  justify-content: space-between;
  padding: 15px 5% 15px 0;
  align-items: center;
  flex-wrap: wrap;

}
header h1 {
  background-color: var(--main);
  color: var(--secondary);
  border: 2px solid var(--third);
  margin: 0;
  font-size: 5vw;
  line-height: 1;
}
/* nav section */
nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--secondary);
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: 0% 0.15em;
  background-position: bottom;
  font-size: 1.4rem;
  
}

nav a:hover {
  background-size: 85% 0.2em;
  color: var(--third);
  background-image: linear-gradient(var(--third) 0%, var(--third) 100%);
  transition: all .3s ease-in ;
}
/* subtitle */
.subtitle {
  background: var(--secondary);
  background-image: url(../images/subheader.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  min-height: 20vh;
  padding: 2% 5%;
}

.subtitle img {
  width: 100px;
  margin: 15px;
  border-radius: 45%;
  opacity: 0.8;
}

.subtitle img:hover {
  opacity: 1;
}
.subtitle div{
  flex: 0 0 75%;

}

.subtitle h2 {
  background-color: var(--main);
  color: var(--secondary);
  border: 2px solid var(--third);
  margin: 0;
  padding: 5px 10px;
  display: inline;

}
/* main */
.wrapping {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;



}

.page-section {



}

.page-section p {
  color: var(--main);
  margin-bottom: 10px;

}



/* grid container */
.grid-container {


}



.grid-item {


}

.grid-item::hover {
  background-color: yellow;
}



/* project images */
  /*main project  */
.horichal {
  background-image: url(../images/Horichal1.png) ;
}
  /* sub project */
.n-a {
  background-image: url(../images/comingsoon.jpg);

}

/* footer */
footer {
  font-size: 20px;
  text-align: center;
  vertical-align: bottom;
}





















/* media query breakpoints */

/* laptop */
@media screen and (max-width: 992px) {
  header {


  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;


  }

  header nav {



  }
}
/* tablet */
@media screen and (max-width: 768px) {
  
}

